@use '../base/variables' as *;
@use '../base/mixins' as *;

.footer {
  margin-top: 6rem;
  padding: 3.5rem 0;
  border-top: 1px solid $border-color;
  background: $footer-bg;
  backdrop-filter: blur(18px);

  p {
    text-align: center;
    color: $footer-text;
    font-size: .9rem;
    letter-spacing: .08em;
    text-transform: uppercase;
  }
}

// Планшет
@include tablet {
  .footer {
    margin-top: 5rem;
    padding: 3rem 0;
  }
}

// Мобільний
@include mobile {
  .footer {
    margin-top: 4rem;
    padding: 2.5rem 0;
  }
}
